body {
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    
    justify-content: space-evenly;
    height: 450px;
    align-items: flex-start;

    border: 3px solid black;
    padding: 5px;
}

.caja {
    /*flex-grow: 1;
    flex-basis: calc((100% / 3) - 68px);*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid black;
    margin: 10px;
    background: gray;
}

.red {
   
    background: var(--rojo);
}

.green {
    
    background: green;
}

.blue {
    
    
    background: blue;
}

.orange {
    /*flex-basis: 100%;*/
    background: orange;
}